/* This is the style for the overall webpage */
body {
    font-family: "Crimson Text";
    background-color: #FFF8E7;
    margin: 0;
    padding: 0;
    color: #2e1b2d;
    text-align: center;
}

/* This is the style for the Navbar (including na the headers and paragraphs) */
.navbar {
    background-color: #4e2648;
    padding: 12px;
}


.navbar-brand img {
    border-radius: 8px;
}

.navbar p {
    color: #f4d67a;
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 0 10px;
}

.nav-link {
    color: #f4d67a;
    font-weight: 600;
    margin-right: 10px;
}

.nav-link:hover {
    color: white;
}

h1,
h2 {
    color: #f4d67a;
    font-weight: 700;
    margin-top: 25px;
    text-align: center;
}

p {
    font-size: 1.05rem;
    color: #3d2241;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

/* This is the style for the Buttons */
.btn {
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    padding: 10px;
    background: #3d2241;
    color: #fefae0;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover {
    background: #F3E5AB;
}


/* This is the Style for the display */
#Orgname,
#output {
    background-color: #ffffff;
    border: 2px solid #4e2648;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    color: #2e1b2d;
    font-size: 20px;
    width: 80%;
    max-width: 650px;
    box-shadow: 0px 3px 10px rgba(78, 38, 72, 0.15);
}
/*This is the Style for the Form*/
form {
    background-color: #2e1b2d;
    padding: 25px;
    border-radius: 15px;
    width: 90%;
    max-width: 550px;
    margin: 30px auto;
    text-align: left;
}

form label {
    font-weight: 700;
    color: #F3E5AB;
    margin-bottom: 6px;
    font-size: 1rem;
}

form input {
    width: 100%;
    padding: 10px;
    border: 2px solid #F3E5AB;
    border-radius: 8px;
    background-color: #faf7fc;
    color: #2e1b2d;
    margin-bottom: 18px;
}

/* This is the Style for the Sections */
.container,
div {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

/* this is the style for the Footer */
.footer {
    background-color: #4e2648;
    color: #F3E5AB;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.footer a {
    color: #FFF8E7;
    font-weight: bold;
}

.footer a:hover {
    color: #D4AF37;

}

